<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>


    <div class="generictable-paging">
        <div class="left">
            <a wicket:id="firstLink">&laquo; Začiatok</a>
            &nbsp;&nbsp;&nbsp;
            <a wicket:id="prevLink">&lsaquo; Predchádzajúca</a>
        </div>
        <div class="right">
            <a wicket:id="nextLink">Ďalšia &rsaquo;</a>
            &nbsp;&nbsp;&nbsp;
            <a wicket:id="lastLink">Posledná &raquo;</a>
        </div>
    </div>


</wicket:panel>
</html>