<html xmlns:wicket="http://wicket.apache.org">
<wicket:border>

    <wicket:container wicket:id="searchedView">
        <wicket:body></wicket:body>
<!--        <wicket:container wicket:id="paging"></wicket:container>-->
    </wicket:container>

    <wicket:container wicket:id="noEntriesFound">
        <span class="table-noentries" wicket:id="label"></span>
    </wicket:container>

<!--
    <wicket:container wicket:id="notSearchedYet">
        <span wicket:id="label"></span>
    </wicket:container>
-->


</wicket:border>
</html>