<configuration scan="true" scanPeriod="3 seconds">
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5p] [%d{dd.MM.yyyy HH:mm:ss.SSS}] [%X{USER_SESSION_ID}-%X{REQUEST_ID}]
                [%X{PERSONAL}][%X{SYSTEM}][%X{COMPANY}] %logger: %m%n
            </pattern>
        </encoder>
    </appender>

    <logger name="sk.hudak">
        <level value="DEBUG"/>
    </logger>

    <logger name="com.sun.xml.ws.server.MonitorBase">
        <level value="ERROR"/>
    </logger>

    <!-- Use this property to log SQL statements or alternatively set the property hibernate.show_sql enabled -->
    <logger name="org.hibernate.SQL">
        <level value="WARN"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>

    <!-- Reset log level of all already registered java.util.logging loggers -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

</configuration>
